<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>Formulario</title>

  <!-- Building blocks -->
  <link rel="stylesheet" href="../themes/whatev/buttons.css">
  <link rel="stylesheet" href="../style/buttons.css">
  <link rel="stylesheet" href="../style/confirm.css">
  <link rel="stylesheet" href="../themes/whatev/headers.css">
  <link rel="stylesheet" href="../style/input_areas.css">
  <link rel="stylesheet" href="../themes/whatev/switches.css">
  <link rel="stylesheet" href="../themes/whatev/drawer.css">
  <link rel="stylesheet" href="../style_unstable/lists.css">
  <link rel="stylesheet" href="../style_unstable/progress_activity.css">
  <link rel="stylesheet" href="../style_unstable/value_selector.css">

  <!-- Icons -->
 <link rel="stylesheet" href="../themes/whatev/icons.css">

  <!-- Transitions -->
  <link rel="stylesheet" href="../transitions.css">
  
  <!-- Util CSS: some extra tricks -->
  <link rel="stylesheet" href="../util.css">
  <link rel="stylesheet" href="../fonts.css">

  <link rel="stylesheet" href="../app/form2.css">

</head>
<body onload='getLocalData()'>

  <!-- Form -->
  <div class="theme-B content scrollable">
    <section id="drawer" role="region">
      <header class="fixed">
        <a href="../index.html" class="icon icon-back">back</a>
        <h1>Reportar queja</h1>
      </header>
      <article class="content scrollable header" onkeyup='setLocalData()'>
        <header><h1>¡Bienvenido!</h1><h2>Por favor llene los siguientes campos detalladamente para brindarle un mejor servicio.</h2></header>
        <p>
          <ul>
            <li>
              <span class="button icon icon-dialog opcionDependencia"> </span>
                 <select name="region.current" id="dependencia" onchange='setLocalData(); oter()'>
                  <option>Selecciona dependencia</option>
                  <option>IMSS</option>
                  <option>SEDENA</option>
                  <option>OADPRS</option>
                  <option>CFE</option>
                  <option>SEP</option>
                  <option>PF</option>
                  <option>PGR</option>
                  <option>ISSSTE</option>
                  <option>INM</option>
                  <option>SEMAR</option>
                  <option>Otro</option>
                </select>
             
            </li>
          </ul>
        </p>
        <p class="cajaOtro" class="hidden">
          <input id="otro" type="text" placeholder="Dependencia">
        </p>
        <p>
        <p>
          <input id="nombre" type="text" placeholder="Nombre(s)" onkeyup="validation2()">
        </p> 

        <p>
          <input id="apellido" type="text" placeholder="Apellidos" onkeyup="validation2()">
        </p>

        <p>
          <input id="correo" type="email" placeholder="Correo electrónico">
        </p>

        <p>
          <input id="direccion" type="text" placeholder="Dirección">
        </p>

        <p>
          <input id="telefono" type="tel" placeholder="Teléfono contacto" onkeyup="formatoTelefono(this,'-',patron,true)" maxlength="12">
        </p>

        <p>
          <textarea id="descripcion" placeholder="Descripción de la situación"></textarea>
        </p>

        <p>
          <ul>
            <li>
              <span class="button icon icon-dialog" id="fechax">
                <input id="fecha" type="date" placeholder="Fecha de incidente"/>
              </span>
            </li>
        </ul>
        </p>

        <section data-type="list">
          <ul>
            <li>
              <aside class="pack-end">
                <label class="pack-checkbox">
                <input type="checkbox" id="reincide" onchange='setLocalData()'>
                <span></span>
              </label>
              </aside>
                <h2>He vivido la misma situación más de una ocasión</h2>
            </li>
          </ul>
        </section>

        <p><a href="#" id="go"><button class="theme-B" role="button">Enviar</button></a></p>

      </arcticle>
    </section>
  </div>

    <!-- Loading page -->
    <form role="dialog" data-type="confirm" id="newcomment">
      <section>
        <h1><span id="title">Por favor espere</span></h1>
        <h2><span id="subtitle">Estamos generando su reporte</span></h2>
        <p id="resultado"></p>
        <!-- Note: inline style only for demo purposes -->
        <p style="text-align: center;" id="progress"><progress></progress></p>
        <menu id="acept">
          <button class="recommend affirmative full" onclick="newWindow()">OK</button>
        </menu>
      </section>
    </form>


  <script type="text/javascript" defer src="../js/status.js"></script>
  <script type="text/javascript" defer src="../js/seekbars.js"></script>


  <script type="text/javascript" src="../app/tools.js"></script>
  <script type="text/javascript" src="../app/form2.js"></script>

  <script type="text/javascript">
    /*
    $( "#dependencia" ).change(function(){
      if( $('#dependencia option:selected').val() == "Otro" ){
          $("#otro").show();
        }else{
          $("#otro").hide();
        }
      var str = "";
      $( "select option:selected" ).each(function(){
      str = $( this ).text();
    });
      $( "#option" ).text( str );}).change();
*/
/*eval(function(p,a,c,k,e,d){e=function(c){return c.toString(36)};if(!''.replace(/^/,String)){while(c--){d[c.toString(a)]=k[c]||c.toString(a)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('$("#5").2(6(){a($(\'#5 0:3\').9()=="8"){$("#4").b()}h{$("#4").g()}f 1="";$("c 0:3").e(6(){1=$(d).7()});$("#0").7(1)}).2();',18,18,'option|str|change|selected|otro|dependencia|function|text|Otro|val|if|show|select|this|each|var|hide|else'.split('|'),0,{}))*/
  </script>

</body>
</html>