<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>Formulario</title>

  <!-- Building blocks -->
  <link rel="stylesheet" href="../themes/whatev/buttons.css">
  <link rel="stylesheet" href="../style/buttons.css">
  <link rel="stylesheet" href="../style/confirm.css">
  <link rel="stylesheet" href="../themes/whatev/headers.css">
  <link rel="stylesheet" href="../style/input_areas.css">
  <link rel="stylesheet" href="../themes/whatev/switches.css">
  <link rel="stylesheet" href="../themes/whatev/drawer.css">
  <link rel="stylesheet" href="../style/lists.css">
  <link rel="stylesheet" href="../style/progress_activity.css">

  <!-- Icons -->
 <link rel="stylesheet" href="../themes/whatev/icons.css">

  <!-- Transitions -->
  <link rel="stylesheet" href="../transitions.css">
  
  <!-- Util CSS: some extra tricks -->
  <link rel="stylesheet" href="../util.css">
  <link rel="stylesheet" href="../fonts.css">

  <link rel="stylesheet" href="../app/css/form.css">

</head>
<body>

  <!-- Form -->
  <div class="theme-B content scrollable">
    <section id="drawer" role="region">
      <header class="fixed">
        <a href="../index.html" class="icon icon-back">back</a>
        <h1>Reportar queja</h1>
      </header>
      <article class="content scrollable header">
        <header>
          <h1>¡Bienvenido!</h1>
          <h2>Por favor llene los siguientes campos detalladamente para brindarle un mejor servicio.</h2>
        </header>

        <form action="http://localhost:3000/reporte" method="get" id="reporte">
        <p>
          <ul class="listDependencias">
            <li>
              <span class="button icon icon-dialog opcionDependencia"> </span>
                 <select name="dependencia" id="dependencia">
                  <option value="1">Selecciona dependencia</option>
                  <option value="2">IMSS</option>
                  <option value="3">SEDENA</option>
                  <option value="4">OADPRS</option>
                  <option value="5">CFE</option>
                  <option value="6">SEP</option>
                  <option value="7">PF</option>
                  <option value="8">PGR</option>
                  <option value="9">ISSSTE</option>
                  <option value="10">INM</option>
                  <option value="11">SEMAR</option>
                  <option value="12">Otro</option>
                </select>
            </li>
          </ul>
        </p>
        <p class="cajaOtro" class="hidden"><input name="otro" id="otro" type="text" placeholder="Dependencia"></p>
        <p>
          <p><input name="nombre"     id="nombre"     type="text"   placeholder="Nombre(s)"           required></p> 
          <p><input name="apellido"  id="apellido"   type="text"   placeholder="Apellidos"           required></p>
          <p><input name="correo"     id="correo"     type="email"  placeholder="Correo electrónico"></p>
          <p><input name="direccion"  id="direccion"  type="text"   placeholder="Dirección"           required></p>
          <p><input name="telefono"   id="telefono"   type="tel"    placeholder="Teléfono contacto" 
            maxlength="12" 
            pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$"
            required
          ></p>
          <p><textarea name="descripcion" id="descripcion" placeholder="Descripción de la situación" required></textarea></p>

          <p>
            <ul>
              <li>
                <span class="button icon icon-dialog" id="fechax">
                  <input name="fecha" id="fecha" type="date" placeholder="Fecha de incidente" 
                  pattern="^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
                  required>
                </span>
              </li>
          </ul>
          </p>

        <section data-type="list">
          <ul>
            <li>
              <aside class="pack-end">
                <label class="pack-checkbox">
                <input name="reincide" value="true" type="checkbox" id="reincide">
                <span></span>
              </label>
              </aside>
                <h2>He vivido la misma situación más de una ocasión</h2>
            </li>
          </ul>
        </section>

          <P><input type="submit" value="Enviar" class="theme-B full" role="button"></P>
        </form>
      </arcticle>
    </section>
  </div>

    <!-- Loading page -->
    <form role="dialog" data-type="confirm" id="newcomment">
      <section>
        <h1><span id="title">Por favor espere</span></h1>
        <h2><span id="subtitle">Estamos generando su reporte</span></h2>
        <p id="resultado"></p>
        <!-- Note: inline style only for demo purposes -->
        <p style="text-align: center;" id="progress"><progress></progress></p>
        <menu id="acept">
          <button class="recommend affirmative full" id="saveFolio">Aceptar</button>
        </menu>
      </section>
    </form>

  <script type="text/javascript" defer src="../app/js/tools.js"></script>
  <script type="text/javascript" defer src="../app/js/form.js"></script>

</body>
</html>