<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>Formulario</title>
  <!-- Building blocks -->
  <link rel="stylesheet" href="../style/confirm.css">
  <link rel="stylesheet" href="../themes/whatev/headers.css">
  <link rel="stylesheet" href="../themes/whatev/drawer.css">
  <link rel="stylesheet" href="../style_unstable/lists.css">

  <!-- Icons -->
  <link rel="stylesheet" href="../themes/whatev/icons.css">

  <!-- Transitions -->
  <link rel="stylesheet" href="../transitions.css">
  
  <!-- Util CSS: some extra tricks -->
  <link rel="stylesheet" href="../util.css">
  <link rel="stylesheet" href="../fonts.css">

  <link rel="stylesheet" href="../app/css/notifications.css">
</head>
<body>
<div class="theme-B">
	<section id="drawer" role="region">
    <header class="fixed">
      <a href="../index.html" class="icon icon-back">back</a>
      <h1>Reportes</h1>
    </header>
    <article class="content scrollable header">
      <section data-type="list">
        <ul>
          <li>
            <a href="#" data-folio="" data-status="" data-date="" data-message="">
              <p>Folio: 32534546</p>
              <p>Fecha: 2013-10-30</p>
            </a>
          </li>
        </ul>
      </section>
    </article>
  </section>
</div>

</body>
</html>
