<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no" />
  <title>Offices</title>
  <!-- Building blocks -->
  <link rel="stylesheet" href="../themes/whatev/headers.css">
  <link rel="stylesheet" href="../themes/whatev/drawer.css">
  <link rel="stylesheet" href="../style_unstable/lists.css">

  <!-- Icons -->
 <link rel="stylesheet" href="../themes/whatev/icons.css">

  <!-- Transitions -->
  <link rel="stylesheet" href="../transitions.css">
  
  <!-- Util CSS: some extra tricks -->
  <link rel="stylesheet" href="../util.css">
  <link rel="stylesheet" href="../fonts.css">

  <link rel="stylesheet" href="../app/css/office.css">

</head>
<body>
  <div class="theme-B content scrollable">
  <section id="drawer" role="region" class="primary">
    <header class="fixed">
      <a href="../index.html" class="icon icon-back">back</a>
      <h1>Ubicar oficina</h1>
    </header>
      <article class="content scrollable header">
        <section data-type="list" id="content">
          <!-- Rellenado por el template oficinas -->
        </section>
      </article>
  </section>
</div>
<div class="theme-B" id="contentMap">
  <!-- Rellenado por el template mapa -->
</div>
          
  <script id="oficinas" type="text/x-handlebars-template">
    
      {{#each oficinas}} 
        <header>{{estado}}</header>
        <ul>
        {{#each delegaciones}}
          <li>
          <a href="#mostrarMapa" class="sede" 
              data-image="{{data-image}}" 
              data-lat="{{data-lat}}"
              data-lon="{{data-lon }}"
            >
            <p class="ciudad">{{ciudad}}</p>
            <p class="direccion">{{direccion}}</p>
          </a>
          </li>
        {{/each}}
        </ul>
      {{/each}}
      
  </script>

  <script id="mapa" type="text/x-handlebars-template">
  <form data-position="right" id="mostrarMapa">
    <section role="region">
      <header class="fixed">
        <a href="#primary" class="icon icon-back">back</a>
        <h1 class="city-title"></h1>
      </header>
      <article class="scrollable header">
        
        <div id="map_content">
          <div id="map"></div>
        </div>
        
        <section class="status">
          <div class="ocultar">
            <span>
              <img src="../app/img/arrow.png" alt="">
            </span>
          <div>
          <p id="address"></p>
        </section>

      </article>
    </section>
  </form>
  </script>
  
  <script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA0XYLMBbNN3vsy7PqgzgjnnSc90Dc9ItE&sensor=true">
  </script>
  <script type="text/javascript" defer src="../app/js/handlebars-v1.1.2.js"></script>
  <script type="text/javascript" defer src="../app/js/tools.js"></script>
  <script type="text/javascript" defer src="../app/js/office.js"></script>
  
</body>
</html>
